<div class="container">
    <div class="row gy-4">
        <div class="col-lg-6">
            <app-card>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                    class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path
                        d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                </svg>
                <h5>Revenue</h5>
                <h5 class="card-title" style="color: #0e71a3;">30,000</h5>
                <p class="card-text text-sm">With each passing month, our restaurant's revenue continues to climb
                </p>
                <a routerLink="/dashboard" class="btn btn-info">View Report</a>
            </app-card>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-light bg-dark">
                    Best Sellers
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Al Funghi Pizza</li>
                        <li class="list-group-item">Napolitan Pizza</li>
                        <li class="list-group-item">Penne Arabiatta</li>
                        <li class="list-group-item">Mexican Taco</li>
                        <li class="list-group-item">Peri Peri Nachos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>