<div class="container">
    <div class="col-md-3">
        <app-search (searchTextChanged) = "onSearchTextEntered($event)"></app-search>
    </div>
    <br>
    <div class="card">
        <p-table [value]="customers" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">Name</th>
                    <th style="width:10%">Email</th>
                    <th style="width:10%">Phone Number</th>
                    <th style="width:10%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr *ngIf = "searchText === '' || customer.customerPhoneNumber.toString().includes(searchText)">
                    <td>{{ customer.customerFirstName }} {{ customer.customerLastName }}</td>
                    <td>{{ customer.customerEmail }}</td>
                    <td>{{ customer.customerPhoneNumber }}</td>
                    <td>
                        <!-- 
                        In ../editcustomer .. means go two levels down in the route
                        If we use editcustomer, we will go to customer/customerlist/editcustomer/CUST0001 
                        You can also use route parameters with [routerLink] to navigate to routes with dynamic values.
                        -->

                        <a class = "btn btn-outline-info" [routerLink] = "['../editcustomer', customer.customerId]">View</a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
    <p-toast></p-toast>
</div>
<br><br><br>