<div class="row gy-4">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                Place Order
            </div>
            <div class="card-body">
                <div class="card-text">
                    <p>Place new orders effortlessly by selecting items from the comprehensive menu. Customize
                        orders with specific modifications or dietary preferences</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header bg-warning text-dark">
                Total Orders
            </div>
            <div class="card-body">
                <div class="card-text">
                    <h5 style="font-weight: bolder; color: rgb(4, 110, 4);">786</h5>
                    <p>There are 231 new orders compared to last month</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-light bg-dark">
                Today's Special
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Napolitan Pizza</li>
                    <li class="list-group-item">Penne Arabiatta</li>
                </ul>
            </div>
        </div>
    </div>
    
</div>