.logo{
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.login-form{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.group{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}